{
  "semi": true,
  "trailingComma": "all",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "quoteProps": "as-needed",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "overrides": [
    {
      "files": "*.{json,md,yml,yaml}",
      "options": {
        "printWidth": 80
      }
    },
    {
      "files": "*.html",
      "options": {
        "printWidth": 120,
        "singleAttributePerLine": false
      }
    }
  ]
}